@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Helvetica Neue', Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif; }

html, body {
  width: 100%;
  color: black; }

body > div {
  overflow: auto; }

.hide {
  opacity: 0;
  z-index: -999;
  width: 0;
  height: 0; }

.cover {
  width: 100%;
  height: 640px;
  background-color: #F2F2F2;
  text-align: center; }
  .cover img.book {
    width: 200px;
    margin-top: 180px;
    -webkit-box-shadow: 20px 10px 20px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 20px 10px 20px 0px rgba(0, 0, 0, 0.1); }

.order {
  width: 100%;
  height: 600px;
  padding: 50px;
  text-align: center; }
  .order .button {
    border: 2px solid #000000;
    display: inline-block;
    color: black;
    width: 200px;
    height: 60px;
    font-size: 18px;
    letter-spacing: 6px;
    text-indent: 6px;
    line-height: 58px;
    text-decoration: none;
    margin: 50px;
    -webkit-transition: all 0.1s ease-out;
            transition: all 0.1s ease-out; }
    .order .button:hover {
      background-color: black;
      color: white; }
  .order .slogan {
    font-family: "Times New Roman", Georgia, Serif;
    font-style: italic;
    font-size: 24px;
    margin: 50px; }
  .order pre.story {
    font-size: 14px; }

.apps {
  width: 100%;
  height: 600px;
  background-image: -webkit-linear-gradient(270deg, #FAFAFA 0%, #EBEBEB 67%, #FFFFFF 83%, #FAFAFA 100%);
  background-image: linear-gradient(-180deg, #FAFAFA 0%, #EBEBEB 67%, #FFFFFF 83%, #FAFAFA 100%); }
  .apps .macbook {
    width: 600px;
    height: 370px;
    background-image: url(http://7j1zot.com1.z0.glb.clouddn.com/macbook.svg);
    background-size: 600px;
    background-repeat: no-repeat;
    margin: 150px auto 0;
    overflow: auto; }
    .apps .macbook .screen {
      width: 425px;
      height: 266px;
      overflow: hidden;
      margin: 53px auto 0; }
      .apps .macbook .screen .images {
        white-space: nowrap;
        height: 100%;
        -webkit-animation: screen 10s cubic-bezier(0.19, 1, 0.22, 1) 0s infinite;
                animation: screen 10s cubic-bezier(0.19, 1, 0.22, 1) 0s infinite; }
@-webkit-keyframes screen {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px); }
  25% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px); }
  35% {
    -webkit-transform: translateX(-435px);
            transform: translateX(-435px); }
  60% {
    -webkit-transform: translateX(-435px);
            transform: translateX(-435px); }
  70% {
    -webkit-transform: translateX(-870px);
            transform: translateX(-870px); }
  90% {
    -webkit-transform: translateX(-870px);
            transform: translateX(-870px); }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px); } }
@keyframes screen {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px); }
  25% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px); }
  35% {
    -webkit-transform: translateX(-435px);
            transform: translateX(-435px); }
  60% {
    -webkit-transform: translateX(-435px);
            transform: translateX(-435px); }
  70% {
    -webkit-transform: translateX(-870px);
            transform: translateX(-870px); }
  90% {
    -webkit-transform: translateX(-870px);
            transform: translateX(-870px); }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px); } }
        .apps .macbook .screen .images img {
          height: 100%;
          display: inline-block;
          vertical-align: top;
          margin-right: 10px; }

.chapters {
  position: relative;
  width: 100%;
  padding: 50px; }
  .chapters .chapter {
    width: 1024px;
    height: 300px;
    margin: 50px auto;
    position: relative;
    padding-left: 50px; }
    .chapters .chapter h1 {
      position: absolute;
      font-size: 120px;
      color: #E6E6E6; }
    .chapters .chapter pre {
      position: absolute;
      top: 140px;
      font-size: 18px;
      margin-left: 5px; }
    .chapters .chapter ul.sections {
      position: absolute;
      right: 0;
      top: 30px;
      line-height: 34px;
      color: #404040;
      list-style-position: inside;
      width: 280px; }
      .chapters .chapter ul.sections span {
        color: #D0001B;
        cursor: pointer; }
        .chapters .chapter ul.sections span:before {
          content: '▾';
          margin-left: -3px;
          margin-right: 7px; }
    .chapters .chapter ul.drawer {
      width: 580px;
      height: 280px;
      z-index: 5;
      position: absolute;
      padding: 20px;
      right: 40px;
      background-color: white;
      -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
              box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
      -webkit-column-count: 2;
         -moz-column-count: 2;
              column-count: 2;
      display: none; }
      .chapters .chapter ul.drawer li {
        display: block;
        height: 40px;
        line-height: 40px;
        text-indent: 15px; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.quotes {
  position: relative;
  width: 100%;
  height: 500px;
  padding: 50px 0;
  background-color: #f1f1f1; }
  .quotes .container {
    max-width: 1024px;
    margin: 0 auto; }
    .quotes .container .user {
      width: 500px;
      height: 400px;
      margin: 0 20px;
      -webkit-transition: all 0.25s ease;
              transition: all 0.25s ease; }
      .quotes .container .user:not(.slick-center) {
        -webkit-transform: scale(0.9);
            -ms-transform: scale(0.9);
                transform: scale(0.9); }
      .quotes .container .user .card {
        overflow: auto;
        background-color: white;
        width: 100%;
        height: 320px;
        -webkit-border-radius: 10px;
                border-radius: 10px;
        -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.05);
                box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.05);
        margin-top: 40px; }
        .quotes .container .user .card .avatar {
          width: 100px;
          height: 100px;
          display: block;
          -webkit-border-radius: 50%;
                  border-radius: 50%;
          margin: 40px auto 0;
          -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
                  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2); }
        .quotes .container .user .card .say {
          width: 100%;
          padding: 40px;
          color: #404040; }
          .quotes .container .user .card .say:before {
            content: '“'; }
          .quotes .container .user .card .say:after {
            content: '”'; }
        .quotes .container .user .card .short {
          font-size: 24px;
          text-align: center;
          margin-top: 10px; }
        .quotes .container .user .card .normal {
          padding: 40px 60px;
          font-size: 20px; }
      .quotes .container .user .info {
        width: 100%;
        text-align: right;
        padding-right: 10px;
        margin-top: 10px;
        color: #808080; }
        .quotes .container .user .info .name {
          display: inline;
          font-weight: bold; }
          .quotes .container .user .info .name:before {
            content: '- ';
            font-weight: normal; }
        .quotes .container .user .info .bio {
          display: inline;
          padding-left: 20px; }
    .quotes .container button {
      position: absolute;
      background-color: transparent;
      width: 200px;
      height: 100%;
      display: block;
      top: 0;
      border: none;
      outline: none; }
      .quotes .container button img {
        margin: 50px; }
    .quotes .container button.slick-prev {
      background-image: -webkit-linear-gradient(180deg, rgba(242, 242, 242, 0) 0%, #F2F2F2 50%);
      background-image: linear-gradient(-90deg, rgba(242, 242, 242, 0) 0%, #F2F2F2 50%);
      left: -50px;
      text-align: left; }
    .quotes .container button.slick-next {
      background-image: -webkit-linear-gradient(0deg, rgba(242, 242, 242, 0) 0%, #F2F2F2 50%);
      background-image: linear-gradient(90deg, rgba(242, 242, 242, 0) 0%, #F2F2F2 50%);
      right: -50px;
      text-align: right; }
      .quotes .container button.slick-next img {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }

.footer {
  overflow: hidden; }
  .footer i {
    margin-top: 250px;
    display: block; }

@media screen and (max-width: 1000px) {
  .cover {
    height: 400px; }
    .cover img.book {
      width: 200px;
      margin-top: 70px; }

  .order {
    height: 700px; }
    .order .button {
      font-size: 18px;
      width: 200px;
      height: 50px;
      line-height: 49px;
      margin: 25px; }
    .order .slogan {
      font-size: 21px;
      margin: 25px 0; }
    .order pre.story {
      font-size: 15px;
      width: 250px;
      margin: 0 auto;
      margin-top: 50px;
      white-space: pre-wrap;
      line-height: 25px;
      text-align: left; }

  .apps {
    height: 300px; }
    .apps .macbook {
      position: absolute;
      left: 50%;
      margin: 0;
      margin-left: -300px;
      -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5); }

  .chapters {
    padding: 25px; }
    .chapters .chapter {
      width: auto;
      height: 450px;
      padding-left: 0;
      padding-left: 10%; }
      .chapters .chapter h1 {
        position: static;
        margin-left: 0;
        font-size: 80px; }
      .chapters .chapter pre {
        position: static;
        font-size: 15px;
        margin: 10px 0; }
      .chapters .chapter ul.sections {
        position: static;
        font-size: 15px;
        line-height: 40px;
        color: #808080;
        border-top: 2px solid #F1F1F1;
        list-style-position: inside;
        margin-top: 25px;
        padding-top: 20px;
        width: 100%; }
        .chapters .chapter ul.sections span:before {
          margin-right: 20px; }
      .chapters .chapter ul.drawer {
        width: 90%;
        height: 90%;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        -webkit-column-count: 1;
           -moz-column-count: 1;
                column-count: 1;
        font-size: 15px;
        padding: 20px;
        margin: 20px;
        margin: auto;
        -webkit-box-shadow: 0 0px 0px 200px rgba(0, 0, 0, 0.2);
                box-shadow: 0 0px 0px 200px rgba(0, 0, 0, 0.2);
        background-image: url(./img/x.png);
        background-repeat: no-repeat;
        background-position: top right;
        background-size: 30px;
        background-origin: content-box; }
        .chapters .chapter ul.drawer li {
          width: 100%;
          height: 35px;
          line-height: 35px; }

  .quotes {
    height: 250px;
    padding: 0px 0; }
    .quotes .container .slick-track {
      height: 100%; }
    .quotes .container .user {
      width: 250px;
      height: 200px;
      margin: 0 10px; }
      .quotes .container .user .card {
        height: 180px;
        margin-top: 35px;
        -webkit-border-radius: 5px;
                border-radius: 5px; }
        .quotes .container .user .card .avatar {
          width: 50px;
          height: 50px;
          margin-top: 20px; }
        .quotes .container .user .card .say {
          padding: 20px; }
        .quotes .container .user .card .short {
          font-size: 12px;
          text-align: center;
          margin-top: 5px; }
        .quotes .container .user .card .normal {
          padding: 20px 30px;
          font-size: 10px; }
        .quotes .container .user .card .long {
          font-size: 10px; }
      .quotes .container .user .info {
        margin-top: 5px;
        font-size: 10px;
        padding-right: 5px; }
    .quotes .container button {
      visibility: hidden; }
    .quotes .container button.slick-prev {
      left: 0; }
    .quotes .container button.slick-next {
      right: 0; }

  .footer {
    height: 350px; }
    .footer i {
      color: #808080;
      margin-top: 115px;
      font-size: 12px; } }
