*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

html, body {
    width: 100%;
    color: black;
}

body{
    &>div{
        overflow: auto;
    }
}

.hide {
  // display: none;
  // visibility: hidden;
  // background-color: transparent;
  // color: transparent;
  opacity: 0;
  z-index: -999;
  width: 0;
  height: 0;
}

.cover{
    width: 100%;
    height: 640px;
    background-color: #F2F2F2;
    text-align: center;

    img.book{
        width: 200px;
        margin-top: 180px;
        box-shadow: 20px 10px 20px 0px rgba(0,0,0,0.10);
    }
}


.order{
    width: 100%;
    height: 600px;
    padding: 50px;
    text-align: center;

    .button{
        border: 2px solid #000000;
        display: inline-block;
        color: black;
        width: 200px;
        height: 60px;
        font-size: 18px;
        letter-spacing: 6px;
        text-indent: 6px;
        line-height: 58px;
        text-decoration: none;
        margin: 50px;
        transition: all 0.1s ease-out;

        &:hover{
            background-color: black;
            color: white;
        }
    }

    .slogan{
        font-family: "Times New Roman", Georgia, Serif;
        font-style: italic;
        font-size: 24px;
        margin: 50px;
    }

    pre.story{
        font-size: 14px;
        // line-height: 28px;
    }
}





.apps{
    width: 100%;
    height: 600px;
    background-image: linear-gradient(-180deg, #FAFAFA 0%, #EBEBEB 67%, #FFFFFF 83%, #FAFAFA 100%);

    .macbook{
        width: 600px;
        height: 370px;
        background-image: url(http://static-catch.qiniudn.com/macbook.svg);
        background-size: 600px;
        background-repeat: no-repeat;
        margin: 150px auto 0;
        overflow: auto;

        .screen{
            width: 425px;
            height: 266px;
            overflow: hidden;
            margin: 53px auto 0;


            .images{
                white-space: nowrap;
                height: 100%;
                animation: screen 10s cubic-bezier(0.19, 1, 0.22, 1) 0s infinite;

                @keyframes screen {
                    0% { transform: translateX(0px); }

                    25% { transform: translateX(0px); }
                    35% { transform: translateX(-425px - 10px); }

                    60% { transform: translateX(-425px - 10px); }
                    70% { transform: translateX(-425px * 2 - 20px); }

                    90% { transform: translateX(-425px * 2 - 20px); }
                    100% { transform: translateX(0px); }
                }

                img{
                    height: 100%;
                    display: inline-block;
                    vertical-align: top;
                    margin-right: 10px;
                }
            }
        }
    }
}





.chapters{
    position: relative;
    width: 100%;
    padding: 50px;

    .chapter{
        width: 1024px;
        height: 300px;
        margin: 50px auto;
        position: relative;
        padding-left: 50px;


        h1{
            position: absolute;
            font-size: 120px;
            color: #E6E6E6;
        }

        pre{
            position: absolute;
            top: 140px;
            font-size: 18px;
            margin-left: 5px;
        }

        ul.sections{
            position: absolute;
            right: 0;
            top: 30px;
            line-height: 34px;
            color: #404040;
            list-style-position: inside;
            width: 280px;


            li{}

            span{
                color: #D0001B;
                cursor: pointer;

                &:before{
                    content: '▾';
                    margin-left: -3px;
                    margin-right: 7px;
                }
            }
        }

        ul.drawer{
            width: 580px;
            height: 280px;
            z-index: 5;
            position: absolute;
            padding: 20px;
            right: 40px;
            background-color: white;
            box-shadow: 0 5px 20px rgba(0,0,0,0.1);
            column-count: 2;

            display: none;

            li{
                display: block;
                height: 40px;
                line-height: 40px;
                text-indent: 15px;
            }
        }
    }
}



@import 'slick';

.quotes{
    position: relative;
    width: 100%;
    height: 500px;
    padding: 50px 0;
    background-color: #f1f1f1;

    .container{
        max-width: 1024px;
        margin: 0 auto;

        .user{
            width: 500px;
            height: 400px;
            margin: 0 20px;
            transition: all 0.25s ease;

            &:not(.slick-center){
                transform: scale(0.9);
            }

            .card{
                overflow: auto;
                background-color: white;
                width: 100%;
                height: 320px;
                border-radius: 10px;
                box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.05);
                margin-top: 40px;

                .avatar{
                    width: 100px;
                    height: 100px;
                    display: block;
                    border-radius: 50%;
                    margin: 40px auto 0;
                    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2);
                }

                .say{
                    width: 100%;
                    padding: 40px;
                    color: #404040;

                    &:before {
                        content: '“';
                    }
                    &:after {
                        content: '”';
                    }
                }

                .short{
                    font-size: 24px;
                    text-align: center;
                    margin-top: 10px;
                }

                .normal{
                    padding: 40px 60px;
                    font-size: 20px;
                }

                .long{}
            }

            .info{
                width: 100%;
                text-align: right;
                padding-right: 10px;
                margin-top: 10px;
                color: #808080;

                .name{
                    display: inline;
                    font-weight: bold;

                    &:before{
                        content: '- ';
                        font-weight: normal;
                    }
                }
                .bio{
                    display: inline;
                    padding-left: 20px;
                }
            }
        }

        button{
            position: absolute;
            background-color: transparent;
            width: 200px;
            height: 100%;
            display: block;
            top: 0;
            border: none;
            outline: none;

            img{
                margin: 50px;
            }
        }

        button.slick-prev{
            background-image: linear-gradient(-90deg, rgba(242,242,242,0.00) 0%, #F2F2F2 50%);
            left: -50px;
            text-align: left;
        }
        button.slick-next{
            background-image: linear-gradient(90deg, rgba(242,242,242,0.00) 0%, #F2F2F2 50%);
            right: -50px;
            text-align: right;

            img{
                -webkit-transform: rotate(180deg);
                        transform: rotate(180deg);
            }
        }
    }

}




.footer{
    overflow: hidden;
    
    i{
        margin-top: 250px;
        display: block;
    }
}






@import 'responsive';
